* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    font-family: 'Noto Serif Ahom', serif;

}

body {
    max-width: 1369px;
    justify-content: center;
    margin: 0 auto;
    display: block;
}

.container {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    color: #f9f9f9;
    display: block;
}

.container img {
    margin-top: 45px;
    margin: 46px 0 32px 0;
    width: 374px;
    max-height: 75px;
    object-fit: cover;
}

.formulario {
    max-width: 530px;
    margin: 0 auto;
    color: #f9f9f9;
    position: relative;
    border: none;
}

.formulario h2,
h3 {
    font-size: 20px;
    color: #f9f9f9;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 16px;
}

.formulario h4 {
    font-size: 20px;
    font-weight: normal;
    margin-left: 8px;
    margin-top: 16px;
}


.formulario input, 
label {
    color: #f9f9f9;
    font-size: 16px;
    margin-left: 8px;
}

.formulario input {
    width: 50%;
    display: block;
    margin-bottom: 10px;
    border: none;
    padding: 5px 0 0 5px;
    border: 1px solid rgba(255, 255, 255, 0.205);
    vertical-align: middle;
}

.formulario button {
    background: linear-gradient(82deg,#1613c7 19%,#046a99);
    color: #f9f9f9;
    font-weight: bold;
    font-size: 18px;
    margin: 12px 0 70px 8px;
    padding: 5px 8px 0 8px;
    border-radius: 5px;
    cursor: pointer;
}

.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}